
<header>
    <h3>{{title}}</h3>
    <div class="nav-menu">
        <ul>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/help">help</a></li>
        </ul>
        
    </div>
</header>